.row
  = render 'form'
.row#buckets-container
  #bucket_a.six.columns.bucket
    .content
    .triangle.h
    .headliner
      Max: 0
    .triangle.v
    .value
      Current: 0
  #bucket_b.six.columns.bucket
    .content
    .triangle.h
    .headliner
      Max: 0
    .triangle.v
    .value
      Current: 0
.row
  = render 'share_form'


#error-modal.reveal-modal
  %h2 Error!
  .modal-error-message
  %a.close-reveal-modal &#215;
